<h1>Admin Dashboard</h1>

<table class="table table-bordered">
  <tr>
    <th>Number of <%= link_to 'Products', admin_products_path %></th>
    <td>
      <%= @product_count %>
    </td>
    <td>
      <% Product.all.each do |category| %>
        See all <%= link_to category.name, category %> products
        <br>
      <% end %>
    </td>
  </tr>
    <tr>
    <th>Number of <%= link_to 'Categories', admin_products_path %></th>
    <td>
      <%= @category_count %>
    </td>
    <td>
      <% Category.all.each do |category| %>
        See all <%= link_to category.name, category %> products
        <br>
      <% end %>
    </td>
  </tr>
</table>

